tenapp/ten_packages/addon_loader
tenapp/ten_packages/system
tenapp/ten_packages/extension/*
!tenapp/ten_packages/extension/main_nodejs
!tenapp/ten_packages/extension/main_nodejs/**
tenapp/bin

node_modules
build

__pycache__